[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "==8.0.0"
mirakuru = "==2.5.2"
port-for = "==0.7.2"
pymongo = "==4.6.1"

[dev-packages]
towncrier = "==23.11.0"
black = "==24.2.0"
pytest-cov = "==4.1.0"
pytest-xdist = "==3.5.0"
ruff = "==0.2.2"
mypy = "==1.8.0"
tbump = "==6.11.0"
rstcheck = {version = "==6.2.0", extras = ["sphinx"]}
