# test runs requirements (versions we'll be testing against) - automatically updated by requires.io
pytest==6.2.4
pytest-cov==2.12.0
pytest-xdist==2.2.1
coverage==5.5 # pytest-cov
mirakuru==2.3.0
port-for==0.6.0
pymongo==3.11.4
-e .[tests]
